.inventoryContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #F0F0F0;
    overflow: hidden;
}

.inventorySideNav {
    width: 220px;
    height: 100vh;
}

.inventorySubContainer2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.inventoryTopBar {
    background-color: #FDFDFD;
    width: 100%;
    height: 10%;
}

.inventoryContentContainer1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.inventoryButtonRow{
    display: flex;
    flex-direction: row;
    padding: 30px 20px 0px 20px;
}

.inventoryEditButton, .inventoryDeleteButton, .inventoryCreateOrderButton, .inventoryAddProductButton {
    width: 120px;
    height: 40px;
    background-color: #FDFDFD;
}

.inventoryEditButton {
    border-radius: 5px 0px 0px 5px;
    color: #888888;
}

.inventoryDeleteButton {
    border-radius: 0px 5px 5px 0px;
    color: #D61414;
}

.inventoryCreateOrderButton {
    border-radius: 5px;
    background-color: #696A8F;
    margin-left: 10px;
}

.inventoryEditButton:hover {
    background-color: #888888 !important;
}

.inventoryDeleteButton:hover {
    background-color: #D61414 !important;
}

.inventoryCreateOrderButton:hover, .inventoryAddProductButton:hover {
    background-color: #696A8F !important;
}

.inventorySelectedDiv {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    background-color: #FDFDFD;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: #888888;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.inventorySelectedDivCloseButton:hover {
    color: #888888 !important;
}

.inventoryAddProductButton {
    border-radius: 5px;
    background-color: #696A8F;
    margin-left: auto;
}

.inventoryTotalProductsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #FDFDFD;
}

#inventoryDropDowns, .inventorySearchBar {
    color: #888888;
    font-size: 12px;
    font-weight: 500;
    height: 43px;
}

.inventoryDropDown1 {
    width: 107px;
}

.inventoryDropDown2, .inventoryDropDown3 {
    width: 155px;
}

.inventorySearchBar {
    width: 300px;
}

.inventorySearchBar:hover {
    border-color: #888888 !important;
}

.inventoryProductsTable {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px 20px;
    background-color: #FDFDFD;
    height: 100%;
    overflow-y: auto;
}

.inventoryProductsTableHeader {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 5px 0px;
    gap: 20px;
    border-bottom: #888888 1px solid;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
    width: 100%;
}

.inventoryProductsTableListItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 5px 0px;
    gap: 20px;
    border-bottom: #888888 1px solid;
    font-size: 14px;
    font-weight: 500;
}

.inventoryCheckBox .ant-checkbox-inner {
    width: 25px;
    height: 25px;
    border-radius: 0px;
}

.inventoryCheckBoxFiller {
    width: 25%;
}

.inventoryCheckBox .ant-checkbox-checked .ant-checkbox-inner {
    background: transparent !important;
}

.inventoryCheckBox .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #888888 !important;
}

.inventoryProductsTableHeaderDivs {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.inventoryProductsTableListItemsDivs {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}